In [1]:
import pandas as pd

In [2]:
check5 = pd.read_csv("check5.csv")
check5

,Year,Month,Day,Date,Proper Date,Time,Unix Time,Epoch time(tm_year),Epoch time(tm_mon),Epoch time(tm_mday),Epoch time(tm_hour),Epoch time(tm_min),Epoch time(tm_sec),Epoch time(tm_wday),Epoch time(tm_yday),Epoch time(tm_isdst),Time Zone,Time Zone Name,Type (Starting or Ending)
0,2021,October,Wednesday,6,06:10:2021,15:58:13,1.633516e+09,1970,1,1,0,0,0,3,1,0,530,India Standard Time,None

In [3]:
main_csv = pd.read_csv("anylasis_of_time_consumed_in_programming.csv",usecols=["Proper Date","Time"]).tail(2)
main_csv

   Proper Date      Time
30  06:10:2021  17:14:44
31  06:10:2021  17:14:48

In [4]:
main_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 30 to 31
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Proper Date  2 non-null      object
 1   Time         2 non-null      object
dtypes: object(2)
memory usage: 164.0+ bytes

In [5]:
programming_started = main_csv.iat[-1,1]
Last_time_ended_programming_date =  main_csv.iat[-1,0]
Last_time_ended_programming_time = main_csv.iat[-1,1]

In [6]:
print(programming_started)
print(Last_time_ended_programming_date)

17:14:48
06:10:2021

In [7]:
programming_done_for_how_much_time =  1

In [8]:
time_started=main_csv.iat[-2,1]
time_ended=main_csv.iat[-1,1]

print(time_started)
print(time_ended)

17:14:44
17:14:48

In [9]:
from datetime import datetime
programming_done_for_how_much_time = str(datetime.strptime(main_csv.iat[-1,1], "%H:%M:%S") - datetime.strptime(main_csv.iat[-2,1], "%H:%M:%S"))

In [10]:
programming_done_for_how_much_time

'0:00:04'

In [11]:
main_csv = pd.read_csv("anylasis_of_time_consumed_in_programming.csv",
                       usecols=["Proper Date","Time","Type (Starting or Ending)"],
                       index_col=[2]).tail()
main_csv

                          Proper Date      Time
Type (Starting or Ending)
 Ending                    06:10:2021  17:04:20
 Starting                  06:10:2021  17:14:24
 Ending                    06:10:2021  17:14:31
 Starting                  06:10:2021  17:14:44
 Ending                    06:10:2021  17:14:48