<h1 style="text-align:center; font-size:160%; font-family:verdana;color:#F44A79;"><em>Date 22-06-2021</em></h1>

<h1 style="text-align:center; font-size:360%; font-family:verdana;color:#4A3E76;"><em>Creating Pandas Series Part 1</em></h1>

In [1]:
import pandas as pd

In [2]:
name=pd.read_csv('summer_data.csv',usecols=['Athlete'],squeeze=True).to_frame()
name

                         Athlete
0                  HAJOS, Alfred
1               HERSCHMANN, Otto
2              DRIVAS, Dimitrios
3             MALOKINIS, Ioannis
4             CHASAPIS, Spiridon
...                          ...
31160         JANIKOWSKI, Damian
31161  REZAEI, Ghasem Gholamreza
31162             TOTROV, Rustam
31163          ALEKSANYAN, Artur
31164             LIDBERG, Jimmy

[31165 rows x 1 columns]

In [3]:
name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Athlete  31165 non-null  object
dtypes: object(1)
memory usage: 243.6+ KB

---
# Pandas Series

In [4]:
pd.Series([45,7,6,4,7,9])

0    45
1     7
2     6
3     4
4     7
5     9
dtype: int64

In [5]:
pd.Series([45,7,6,4,7,9,78],index=['SUN','MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'])

SUN    45
MON     7
TUE     6
WED     4
THU     7
FRI     9
SAT    78
dtype: int64

In [6]:
pd.Series([45,7,6,4,7,9,78],index=['SUN','MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],name='Sales')

SUN    45
MON     7
TUE     6
WED     4
THU     7
FRI     9
SAT    78
Name: Sales, dtype: int64