<h1 style="text-align:center; font-size:160%; font-family:verdana;color:#F44A79;"><em>Date 22-06-2021</em></h1>

<h1 style="text-align:center; font-size:360%; font-family:verdana;color:#4A3E76;"><em>Analyzing Numerical Series with unique, nunique and value_counts functions Part 1</em></h1>

In [1]:
import pandas as pd

In [2]:
titanic_data_csv=pd.read_csv('titanic_data.csv')
titanic_data_csv

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [3]:
age=titanic_data_csv.age
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [4]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [5]:
age.count()

714

In [6]:
age.size

891

In [7]:
age.sum()

21205.17

In [8]:
sum(age)

nan

In [9]:
age.sum(skipna = False)

nan

In [10]:
age.mean()

29.69911764705882

In [11]:
age.median()

28.0

In [12]:
age.max()

80.0

In [13]:
age.min()

0.42

In [14]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [15]:
len(age.unique())

89

In [16]:
age.nunique()

88

In [17]:
age.nunique(dropna=False)

89

In [18]:
age.value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
         ..
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [19]:
age.value_counts(sort=False)

22.00    27
38.00    11
26.00    18
35.00    18
54.00     8
         ..
0.92      1
0.83      2
0.67      1
70.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [20]:
age.value_counts(dropna=False)

NaN      177
24.00     30
22.00     27
18.00     26
28.00     25
        ...
36.50      1
55.50      1
66.00      1
23.50      1
0.42       1
Name: age, Length: 89, dtype: int64

In [21]:
age.value_counts(ascending=True)

0.42      1
23.50     1
66.00     1
70.50     1
55.50     1
         ..
30.00    25
19.00    25
18.00    26
22.00    27
24.00    30
Name: age, Length: 88, dtype: int64

In [22]:
age.value_counts(normalize=True)

24.00    0.042017
22.00    0.037815
18.00    0.036415
19.00    0.035014
30.00    0.035014
           ...
55.50    0.001401
70.50    0.001401
66.00    0.001401
23.50    0.001401
0.42     0.001401
Name: age, Length: 88, dtype: float64

In [23]:
age.value_counts(normalize=True,dropna=False).sum()

0.9999999999999999

In [24]:
age.value_counts(normalize=True,dropna=False)

NaN      0.198653
24.00    0.033670
22.00    0.030303
18.00    0.029181
28.00    0.028058
           ...
36.50    0.001122
55.50    0.001122
66.00    0.001122
23.50    0.001122
0.42     0.001122
Name: age, Length: 89, dtype: float64

In [25]:
30/age.count()

0.04201680672268908

In [26]:
30/age.size

0.03367003367003367

In [27]:
age.value_counts(normalize=True,dropna=False)*100

NaN      19.865320
24.00     3.367003
22.00     3.030303
18.00     2.918070
28.00     2.805836
           ...
36.50     0.112233
55.50     0.112233
66.00     0.112233
23.50     0.112233
0.42      0.112233
Name: age, Length: 89, dtype: float64

In [28]:
arr1=age.value_counts(normalize=True,dropna=False)*100
arr1.sum()

100.0

In [29]:
age.value_counts(dropna=False,bins=5)

(16.336, 32.252]    346
(32.252, 48.168]    188
(0.339, 16.336]     100
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: age, dtype: int64

In [30]:
age.value_counts(dropna=True,bins=5)

(16.336, 32.252]    346
(32.252, 48.168]    188
(0.339, 16.336]     100
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: age, dtype: int64

In [31]:
age.value_counts(normalize=True,bins=5)

(16.336, 32.252]    0.388328
(32.252, 48.168]    0.210999
(0.339, 16.336]     0.112233
(48.168, 64.084]    0.077441
(64.084, 80.0]      0.012346
Name: age, dtype: float64

In [32]:
age.value_counts(normalize=True,bins=5)*100

(16.336, 32.252]    38.832772
(32.252, 48.168]    21.099888
(0.339, 16.336]     11.223345
(48.168, 64.084]     7.744108
(64.084, 80.0]       1.234568
Name: age, dtype: float64