<h1 style="text-align:center; font-size:160%; font-family:verdana;color:#F44A79;"><em>Date 22-06-2021</em></h1>

<h1 style="text-align:center; font-size:360%; font-family:verdana;color:#4A3E76;"><em>Indexing and Slicing Pandas Series</em></h1>

In [1]:
import pandas as pd

In [2]:
age=pd.read_csv('titanic_data.csv',usecols=['age'],squeeze=True)
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [3]:
age.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

In [4]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [5]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [6]:
age[1]

38.0

In [7]:
age[3:9]

3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
Name: age, dtype: float64

In [8]:
age.iloc[-4:-1]

887    19.0
888     NaN
889    26.0
Name: age, dtype: float64

In [9]:
age.iloc[:-860]

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     NaN
18    31.0
19     NaN
20    35.0
21    34.0
22    15.0
23    28.0
24     8.0
25    38.0
26     NaN
27    19.0
28     NaN
29     NaN
30    40.0
Name: age, dtype: float64