<h1 style="text-align:center; font-size:160%; font-family:verdana;color:#F44A79;"><em>Date 22-06-2021</em></h1>

<h1 style="text-align:center; font-size:360%; font-family:verdana;color:#4A3E76;"><em>Analyzing Numerical Series with unique, nunique and value_counts functions Part 2</em></h1>

In [1]:
import pandas as pd

In [2]:
summer_olympic_data_csv=pd.read_csv('summer_data.csv')
summer_olympic_data_csv

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [3]:
summer_olympic_data_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [4]:
name=summer_olympic_data_csv.Athlete
name

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [5]:
name.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Athlete  31165 non-null  object
dtypes: object(1)
memory usage: 243.6+ KB

In [6]:
name.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [7]:
name.to_frame().describe()

                Athlete
count             31165
unique            22762
top     PHELPS, Michael
freq                 22

In [8]:
name.dtype

dtype('O')

In [9]:
name.min()

'AABYE, Edgar'

In [10]:
name.max()

'ÖSTRAND, Per-Olof'

In [11]:
name.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [12]:
len(name.unique())

22762

In [13]:
name.nunique()

22762

In [14]:
name.value_counts()

PHELPS, Michael       22
LATYNINA, Larisa      18
ANDRIANOV, Nikolay    15
ONO, Takashi          13
SHAKHLIN, Boris       13
                      ..
BHAVSAR, Raj           1
THOMAS, Johannes       1
KURLAND, Abraham       1
COLES, Vernell E.      1
DELGADO, Cesar         1
Name: Athlete, Length: 22762, dtype: int64

In [15]:
name.value_counts(normalize=True)

PHELPS, Michael       0.000706
LATYNINA, Larisa      0.000578
ANDRIANOV, Nikolay    0.000481
ONO, Takashi          0.000417
SHAKHLIN, Boris       0.000417
                        ...
BHAVSAR, Raj          0.000032
THOMAS, Johannes      0.000032
KURLAND, Abraham      0.000032
COLES, Vernell E.     0.000032
DELGADO, Cesar        0.000032
Name: Athlete, Length: 22762, dtype: float64

In [16]:
name.value_counts(normalize=True)*100

PHELPS, Michael       0.070592
LATYNINA, Larisa      0.057757
ANDRIANOV, Nikolay    0.048131
ONO, Takashi          0.041713
SHAKHLIN, Boris       0.041713
                        ...
BHAVSAR, Raj          0.003209
THOMAS, Johannes      0.003209
KURLAND, Abraham      0.003209
COLES, Vernell E.     0.003209
DELGADO, Cesar        0.003209
Name: Athlete, Length: 22762, dtype: float64