<h1 style="text-align:center; font-size:160%; font-family:verdana;color:#F44A79;"><em>Date 22-06-2021</em></h1>

<h1 style="text-align:center; font-size:360%; font-family:verdana;color:#4A3E76;"><em>Creating Pandas Series Part 2</em></h1>

# Creating Pandas Series with NumPy Array

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(999)
sales=np.random.randint(0,999,10)
sales

array([448, 348, 869, 481, 712, 225, 475, 415, 217, 947])

In [3]:
pd.Series(sales)

0    448
1    348
2    869
3    481
4    712
5    225
6    475
7    415
8    217
9    947
dtype: int32

# Creating Pandas Series with Python Lists

In [4]:
sales=list(sales)
sales

[448, 348, 869, 481, 712, 225, 475, 415, 217, 947]

In [5]:
pd.Series(sales)

0    448
1    348
2    869
3    481
4    712
5    225
6    475
7    415
8    217
9    947
dtype: int64

# Creating Pandas Series with Python Tuple

In [6]:
sales=tuple(sales)
sales

(448, 348, 869, 481, 712, 225, 475, 415, 217, 947)

In [7]:
pd.Series(sales)

0    448
1    348
2    869
3    481
4    712
5    225
6    475
7    415
8    217
9    947
dtype: int64

# Creating Pandas Series with Python Dictionary

In [8]:
sales={'SUN':sales[0],'Mon':sales[1],'TUE':sales[2],'WED':sales[3],'THU':sales[4],'FRI':sales[5],'SAT':sales[6]}
sales

{'SUN': 448,
 'Mon': 348,
 'TUE': 869,
 'WED': 481,
 'THU': 712,
 'FRI': 225,
 'SAT': 475}

In [9]:
pd.Series(sales)

SUN    448
Mon    348
TUE    869
WED    481
THU    712
FRI    225
SAT    475
dtype: int64