<h1 style="text-align:center; font-size:160%; font-family:verdana;color:#F44A79;"><em>Date 22-06-2021</em></h1>

<h1 style="text-align:center; font-size:360%; font-family:verdana;color:#4A3E76;"><em>Sorting of Pandas Series and inplace Parameter</em></h1>

In [1]:
import pandas as pd

In [2]:
age=pd.read_csv('titanic_data.csv',usecols=['age'],squeeze=True)
age = age.sample(frac = 1,random_state=0)# this line will shuffle the rows of data with seed 0
age

495     NaN
648     NaN
278     7.0
31      NaN
255    29.0
       ...
835    39.0
192    19.0
629     NaN
559    36.0
684    60.0
Name: age, Length: 891, dtype: float64

In [3]:
age.sort_index()

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [4]:
age.sort_index(ascending= False)

890    32.0
889    26.0
888     NaN
887    19.0
886    27.0
       ...
4      35.0
3      35.0
2      26.0
1      38.0
0      22.0
Name: age, Length: 891, dtype: float64

In [5]:
age

495     NaN
648     NaN
278     7.0
31      NaN
255    29.0
       ...
835    39.0
192    19.0
629     NaN
559    36.0
684    60.0
Name: age, Length: 891, dtype: float64

In [6]:
age.sort_index(ascending= True,inplace=True)

In [7]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [8]:
age.sort_values(ascending= False)

630    80.0
851    74.0
96     71.0
493    71.0
116    70.5
       ...
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: age, Length: 891, dtype: float64

In [9]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [10]:
age.sort_values(ascending= False,na_position= 'first',inplace=True)

In [11]:
age

5       NaN
17      NaN
19      NaN
26      NaN
28      NaN
       ...
78     0.83
469    0.75
644    0.75
755    0.67
803    0.42
Name: age, Length: 891, dtype: float64

In [12]:
age.sort_index()

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64